.cards {
  position: relative;
  // min-width: 18rem;
  width: fit-content;
  height: fit-content;
  // height: 300px;
  margin: 1rem;

  padding: 10px;

  .photoFrame {
    // min-width: 18rem;
    overflow: hidden;
    width: fit-content;
    position: relative;
    // border: 1px solid red;
    // margin: auto 0.5rem;
    .imgborder {
      display: flex;
      justify-content: center;
      .card-img-top {
        // height: 20rem;
        width: auto;
        &:hover {
          scale: 1.2;
        }
      }
    }
    .card-body {
      padding: 1rem;
      position: absolute;
      border-radius: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
      background-color: rgba(#fff, 0.5);
      transform: translateY(100%);
      // opacity: 0;
      .card-title {
        color: red;
        font-size: 0.8rem;
      }
      .card-text {
        font-weight: 500;

        span {
          font-size: 0.8rem;
        }
        * {
          margin: 0;
          padding: 0;
        }
      }
      .cardBtn > * {
        font-size: 11px;
        padding: 0.5rem;
      }
    }
  }
  .alt {
    margin: 0;
    padding-top: 0.5rem;
  }

  &:hover {
    box-shadow: 0.5rem 0.5rem 1.5rem rgba($dark, 0.5);
    .card-body {
      // opacity: 1;
      transform: translateY(0%);
      &:hover {
        background-color: rgba(#fff, 1);
      }
    }
  }
  .card-text:last-child {
    max-width: 15rem;
    text-wrap: wrap;
  }
}
