.card {
  background-color: $light;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba($dark, 0.5);
  overflow: hidden;
  .photoFrame {
    overflow: hidden;
    // border: 1px solid red;
    margin: 0.5rem;
    .card-img-top {
      &:hover {
        scale: 1.2;
      }
    }
  }
  .card-body {
    position: absolute;
    width: 90%;
    left: 5%;

    background-color: $info;
    border-radius: 0.5em;
    transform: translatey(170%);
    .card-title {
      color: red;
    }
  }
  &:hover {
    box-shadow: 0.5rem 0.5rem 1.5rem rgba($dark, 0.5);
    .card-body {
      &:hover {
        transform: translatey(85%);
        background-color: rgba($info, 0.5);
      }
    }
  }
}
