@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, #0e1a27 1%, #0a2540 80%);
}
.welcome::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 5%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  content: "";
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 100px,
      #0a2540 100px 102px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 100px,
      #0a2540 100px 102px
    );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}

.bg {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  pointer-events: none;
}
.bg img {
  width: 100%;
  /* height: 100%; */
}
.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 30%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 50s linear infinite;
  z-index: 0;
  pointer-events: none;
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
  pointer-events: none;
}

@keyframes autoRun {
  from {
    transform: perspective(1500px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1500px) rotateX(-16deg) rotateY(360deg);
  }
}
@keyframes autoRunBack {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* Variables to define z-index behavior */
:root {
  --z-front: 2;
  --z-middle: 1;
  --z-back: 0;
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.model {
  /* background-image: url(././assets/LOGO11.png); */
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: absolute;
  width: 600px;
  top: -20vh;
  left: calc(50% - 300px);
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
  animation: autoRunBack 50s linear infinite;
}

.model img {
  width: inherit;
}

.btngroup {
  width: 100%;
  position: absolute;
  /* left: 0; */
  padding: 10px 10vw;
  display: flex;
  justify-content: center;
  bottom: 10vh;
  border-top: 2px solid #f8db8a;
  border-bottom: 2px solid #f8db8a;
  background-color: #0c2f52;
}
.btngroup > * {
  pointer-events: auto;
}
.content > * {
  color: #fff;
  opacity: 0.8;
  position: absolute;
  top: 1vh;
  left: 10vw;
}
.content h2 {
  font-size: 9em;
  position: absolute;
  top: 12vh;
  /* left: 10vw; */
}
.content h3 {
  font-size: 1.5em;
  position: absolute;
  top: 10vh;
  /* left: 10vw; */
}
@media screen and (max-width: 1023px) {
  .banner .slider {
    top: 40%;
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }
  .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .model {
    width: 400px;
    top: -15vh;
    left: calc(50% - 200px);
  }
}
@media screen and (max-width: 767px) {
  .banner .slider {
    top: 50%;
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  .banner .content h1 {
    font-size: 5em;
  }
  .model {
    width: 300px;
    top: -15vh;
    left: calc(50% - 150px);
  }
}
