.login {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50%;
  margin: 25px auto;
  height: 55px;
  font-weight: 800;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8db8a;
  background-color: #0a2540;
}

.input {
  margin: 0 30px;
}
.input .inputcontainer {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.labelgroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.labelgroup label {
  height: 36px;
  display: flex;
  align-items: center;
}

.inputgroup {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 100%;
}

.txtbox {
  height: 36px;
}

.btngroup {
  width: 300px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}